.container1 {
    display: flex;
    background-color: #1F2937;
    width: 100%;
    height: 50px;
    color: aliceblue;
}

#head {
    display: flex;
    flex: 1;
    margin-left: 250px;
    color: aliceblue;
    font-weight: 900;
    background-color: #1F2937;
    
}

#box1, #box2, #box3 {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 25px;
    margin-right: 15px;
        
}

.container2 {
    display: flex;
    background-color: #1F2937;
    color: aliceblue;
    height: 400px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-bottom: 0px;
    padding-right: 200px;
    margin-right: 50px;
}


#place {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    margin-top: 150px;
    
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 900px;
    height: 150px;    
}