.container1 {
    display: flex;
    background-color: #1F2937;
    width: 100%;
    height: 50px;
    color: aliceblue;
}

#head {
    display: flex;
    flex: 1;
    margin-left: 200px;
    color: aliceblue;
    font-weight: 900;
    background-color: #1F2937;
    
}

#box1, #box2, #box3 {
    display: flex;
    flex-wrap: nowrap;
    font-size: large;
    margin-left: 25px;
    margin-right: 15px;
        
}

.container2 {
    display: flex;
    font-size: 20px;
    background-color: #1F2937;
    color: aliceblue;
    height: 400px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-bottom: 0px;
    padding-right: 200px;
    margin-right: 50px;
}
button {
    background-color: rgb(9, 118, 221);
    color: aliceblue;
    border-radius: 10px;
    width: 120px;
    height: 35px;
}

#place {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    margin-top: 150px;
    
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 1200px;
    height: 150px;    
}

/* next section of the page */

.h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 900;
    font-size: large;
    margin-top: 100px;
}

.mid {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

.one {
  Height: 160px;
  width: auto;
  border: 3px solid #3882f6;
  border-radius: 10px;
         
}
.p {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.two {
  Height: 160px;
  width: auto;
  border: 3px solid #3882f6;
  border-radius: 10px;
  
}
.three {
  Height: 160px;
  width: auto;
  border: 3px solid #3882f6;
  border-radius: 10px;
  
}
.four {
    Height: 160px;
    width: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}