.box {
    display: flex;
    background-color: #1F2937;
    
    
}
.container {
    display: flex;
    height: 50vh;
    background-color: #1F2937;
}

.container2 {
    display: flex;
    justify-content: space-around;
    height: 50vh;
    background-color: #1F2937;
}

#box1 {
    background-color: #1F2937; 
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
    text-align: center;
    margin-right: 140px;
    
    
}

#box2 {
    display: flex;
    flex: 1;
    background-color: #1F2937; 
    font-size: 18px;
    color: #f9faf8;
    

    
}

#box3 {
    background-color: #1F2937;
    font-size: 25px;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
     
}

    

#box4 {
    background-color: #60656b;
    width: 400px;
    height: 200px; 
    font-size: 15px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    
}

    